* {
    box-sizing: border-box;
    margin: auto;
}

.bai2 {
    width: 50%;
    height: auto;
    background-color: #ffd078;
    padding: 16px;
    text-align: center;
}

.bai2 p {
    font-size: 40px;
    font-weight: 600;
}

.bai3 p {
    margin-top: 25px;
    width: 70%;
    box-shadow: 0 0 12px #0a0a0a;
}

.bai3_21 {
    width: 80%;
    height: auto;
    background-color: #ffd078;
    padding: 16px;
    text-align: left;
}

.bai3_21 p {
    width: 200px;
    margin-left: 0%;
}

.bai3_22 {
    width: 80%;
    height: auto;
    background-color: #ffd078;
    padding: 16px;
    text-align: center;
}

.bai3_22 p {
    width: 200px;
}

.bai3_23 {
    width: 80%;
    height: auto;
    background-color: #ffd078;
    padding: 16px;
    text-align: right;
}

.bai3_23 p {
    width: 200px;
    margin-right: 0%;
}

.bai4 {
    width: 25%;
    height: auto;
    box-shadow: 0 0 12px #0a0a0a;
}

.bai4>ol {
    list-style: upper-roman;
}

.bai4 .cz ol {
    list-style-type: lower-roman;
}

.bai4_2 {
    width: 45%;
    height: auto;
    background-color: #ffd078;
    padding: 16px 0 16px 0;
}

.bai6 table {
    border-collapse: collapse;
    width: 100%;
}

.bai6 th,
td {
    border: 3px ridge #ceb6b2;
    padding: 10px;
    text-align: center;
}

.bai6 {
    width: 45%;
    height: auto;
    background-color: #dfd8ca;
    padding: 16px;
}

.bai6_B table {
    border-collapse: collapse;
    width: 100%;
}

.bai6_B td {
    border: 3px ridge #ceb6b2;
    padding: 6.47px;
    text-align: left;
}

.bai6_B th {
    border: 3px ridge #ceb6b2;
    padding: 6.47px;
    text-align: center;
}

.bai6_B u {
    font-weight: 500;
    color: red;
}

.bai6_B {
    width: 45%;
    height: auto;
    background-color: #ffd078;
    padding: 5px;
}

.bai6_C table {
    border-collapse: collapse;
    width: 100%;
}

.bai6_C td {
    border: 3px double #e04de0;
    padding: 6.47px;
    text-align: center;
    background-color: #ffddff;
}

.bai6_C th {
    border: 3px double #e04de0;
    padding: 6.47px;
    text-align: center;
    background-color: #ffa0ff;
}

.bai7 pre {
    font-family: 'Times New Roman', Times, serif;
}

.bai7 td {
    border: 3px;
    padding: 10px;
    text-align: justify;
}

.bai9 tr {
    background-color: #ffff66;
}

.bai9 table,
.bai9 th,
.bai9 td {
    border: 2px solid #ff9c00;
}

.bai12 {
    width: 100%;
    height: auto;
    background-color: #78fdff;
    padding: 16px;
    text-align: center;
}

.bai14 {
    width: 980px;
    height: 800px;
    border: 1px solid black;
}

.Ch14_1,
.Ch14_2,
.Ch14_3,
.Ch14_4 {
    margin-left: 100px;
}

.bai15 th,
.bai15 td {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}